{
    auto_https disable_redirects
}
https://vm-voice-1.lan.awesomeio.ru {
    bind 192.168.20.70
    tls /etc/voice-certs/fullchain.pem /etc/voice-certs/key.pem
    reverse_proxy 192.168.20.70:8080
}
